// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center
}

.teal {
  background: #b7c9c7;
}

.box {
  border: solid;
  height: 150px;
  width: 400px;
}

.small {
  height: 30px;
}

.tall {
  height: 400px;
}

.no-overflow {
  overflow:hidden
}

.centered-below {
  margin: 0 auto;
  margin-top: 30px;
}

.low-margin {
  margin-top: 30px;
}

.centered-text {
  text-align: center;
}
